services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: app
        restart: on-failure
        depends_on:
            timescaledb:
                condition: service_healthy
        environment:
            - SPRING_DATASOURCE_URL=jdbc:postgresql://timescaledb:5432/timescaledb?autoReconnect=true
            - SPRING_DATASOURCE_USERNAME=user
            - SPRING_DATASOURCE_PASSWORD=password
            - SPRING_JPA_HIBERNATE_DDL_AUTO=update
            - SPRING_OUTPUT_ANSI_ENABLED=ALWAYS
            - TERM=xterm-color
        ports:
            - '8080:8080'
            - '7778:7778'
            - '1099:1099'
        networks:
            - smart-energy-network
        volumes:
            - ./logs:/logs

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        container_name: frontend
        environment:
            - NODE_ENV=production
        ports:
            - '5173:80'
        depends_on:
            - app
        networks:
            - smart-energy-network

    timescaledb:
        image: timescale/timescaledb:latest-pg17
        container_name: timescaledb
        ports:
            - '5432'
        volumes:
            - pgdata:/var/lib/pgdata
        environment:
            - PGDATA=/var/lib/pgdata
            - POSTGRES_PASSWORD=password
            - POSTGRES_USER=user
            - POSTGRES_DB=timescaledb
        command: >
            postgres
            -c synchronous_commit=off
            -c fsync=off
            -c full_page_writes=off
            -c shared_buffers=1GB
            -c work_mem=32MB
            -c max_wal_size=2GB
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U user -d timescaledb']
            interval: 5s
            timeout: 5s
            retries: 10
            start_period: 10s
        networks:
            - smart-energy-network

networks:
    smart-energy-network:
        driver: bridge

volumes:
    pgdata:
