version: '3.8'

services:
  timescaledb:
    image: timescale/timescaledb:latest-pg17
    container_name: timescaledb
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/pgdata
    environment:
      - PGDATA=/pgdata
      - POSTGRES_PASSWORD=password